body {
    background-color: beige;
    
}

button {
    background-color: #3AF043;
    border: 1, 5px;
    border-color:antiquewhite;
    border-radius: 20px;
    font-weight: bold;
}

.btnbtnGris {
    background-color: bisque;
}

.btnIsm {
    background-color: blue;
}

button:hover {
    background-color: #F001E7;
    color: #9DF026
}